<section class="banner flex items-center h-[670px] lg:h-[816px] p-[16px] lg:p-[60px] 3xl:p-[120px]">
    <div class="container max-w-full m-[22px] md:m-[66px] lg:m-[64px] 3xl:mx-[124px] ">
        <div class="banner__wrapper flex justify-left items-center font-light text-primary">
            <div class="banner__contents flex flex-col max-w-[500px] md:max-w-[648px] lg:max-w-[912px] 3xl:max-w-[648px] 3xl:mx-0 lg:mx-auto gap-[6px] md:gap-[12px] lg:gap-[24px] py-[0px]">
                <div class="banner__contents flex flex-col gap-[3px] lg:gap-[7px]">
                    <h2 class="text-[16px] md:text-[20px] lg:text-[24px]">Hi, I'm <span class="font-medium">Kenaniah</span> <span class="font-normal">Daniel</span></h2>
                    <p class="text-[30px]/[38px] md:text-[38px]/[48px] lg:text-[64px]/[72px]">Software Developer<br/>Based in Philippines</p>
                </div>
                <h2 class="text-[16px]/[24px] md:text-[20px]/[28px] lg:text-[24px]/[32px] text-accent font-normal">I craft smooth, engaging digital experiences by blending clean code, smart design, and a passion for innovation.</h2>
            </div>
        </div>
    </div>
</section>