<section class="cta flex items-center p-[16px] lg:p-[60px] 3xl:p-[120px]" id="cta">
    <div class="container max-w-full mx-[22px] my-[36px] md:m-[66px] lg:m-[64px] 3xl:mx-[124px] 3xl:my-[60px]">
        <div class="cta flex justify-center">
            <div class="cta__contents flex flex-col items-center gap-[32px] md:gap-[64px] lg:gap-[94px] 3xl:gap-[162px] 3xl:flex-row text-[#FDFDFD]">
                <div class="cta__description flex flex-col items-start gap-[14px] lg:gap-[20px] xl:gap-[12px] max-w-[912px] 3xl:w-full">
                    <h2 class="text-[28px] text-primary font-light md:text-[40px] mx-auto blockappear">Let's turn your ideas into <span class="font-medium">Reality</span></h2>
                    <p class="text-[14px]/[24px] text-accent font-normal md:text-[16px]/[32px] mb-[24px] md:mb-[32px] lg:mb-[48px] lg:text-center blockappear">
                        I am the genie of software development. If you need a striking website, or a sleek software that leaves lasting experience, clicking the button is as easy as rubbing the lamp.</p>
                    <div class="cta__buttons flex flex-col mx-auto gap-[16px] md:gap-[24px] md:flex-row lg:gap-[32px] blockappear">
                        <a href="../assets/files/Kenaniah-Daniel-Sumang-Resume.pdf" download>
                            <button class="text-[16px] w-[263px] h-[45px] text-accent-highlight bg-white/20
                                rounded-[3px] hover:cursor-pointer hover:text-white hover:bg-white/0 hover:border-[1px] transition duration-250
                                mx-auto 3xl:mx-0">Download CV</button>
                        </a>
                        <button class="text-[16px] w-[263px] h-[45px] border-[1px] border-accent-highlight text-accent-highlight 
                            rounded-[3px] hover:cursor-pointer hover:text-white hover:bg-white/20 hover:border-none transition duration-250
                            mx-auto 3xl:mx-0" href="#" >Hire Me</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>