<header class="header flex justify-center lg:mx-[87px]">
    <div class="container max-w-full lg:px-[14px]">
        <div class="header__wrapper h-[52px] flex justify-between items-center md:h-[58px] lg:h-[66px]">
            <div class="header__logo hover:cursor-pointer">
                <a href="./index.html" class="flex h-full items-center mx-[16px]">
                    <img src="../assets/images/kd_logo.png" alt="logo" class="w-[130px] md:w-[156px] lg:w-[176px]">
                </a>
            </div>
            <nav class="header__nav relative text-primary">
                <div class="burger-button flex flex-col gap-[4px] m-[16px] justify-center items-center lg:hidden hover:cursor-pointer">
                    <div class="button w-[24px] h-[2px] rounded-full bg-primary"></div>
                    <div class="button w-[24px] h-[2px] rounded-full bg-primary"></div>
                    <div class="button w-[24px] h-[2px] rounded-full bg-primary"></div>
                </div>

                <!-- <ul class="hidden gap-[46px] lg:flex mx-[16px]"> -->
                <ul class="absolute right-32 flex flex-col gap-[26px] lg:static lg:gap-[46px] lg:flex-row mx-[16px]">
                    <li><a href="../dist/about.html" class="text-[13px] font-regular">ABOUT</a></li>
                    <li><a href="../dist/projects.html" class="text-[13px] font-regular">PROJECTS</a></li>
                    <li><a href="../dist/experience.html" class="text-[13px] font-regular">EXPERIENCE</a></li>
                    <li><a href="../dist/contact.html" class="text-[13px] font-regular">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>