@import "tailwindcss";

/* @theme {
    --color-primary: #EFEFEF;
    --color-secondary: #000000;
    --color-accent: #A9A9A9;
} */

 @keyframes blockappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes leftslideappear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightslideappear {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleappear {
    from {
        opacity: 0;
        scale: 0.92;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.blockappear {
    animation: blockappear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.blockappear-low {
    animation: blockappear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.left-slideappear {
    animation: leftslideappear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.right-slideappear {
    animation: rightslideappear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.scaleappear {
    animation: scaleappear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@theme {
    --color-primary: #EFEFEF;
    --color-secondary: #000000;
    --color-accent: #A9A9A9;
    --color-accent-highlight: #D9D9D9;
    --color-accent-light: #CAC9CA;
    --color-accent-dark: #7E7E7E;
    --color-card-bg: #E3E3E3;
    --color-card-bg-dark: #1A1A1A;
    --color-card-bg-light: #3C3C3C;
    --color-text-grey: #4B5563;

    --font-Montserrat: 'Montserrat', sans-serif;

    --breakpoint-3xl: 112rem;

    --font-weight-light-normal: 350;
}
